<div>
    <table mat-table [dataSource]="dataTable" >
      <div *ngFor="let pos of displayedColumns;let i= index">
      <ng-container [matColumnDef]= "pos">
        <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <div *ngIf="pos=='direction_id'">
                    <div *ngIf="element[i]=='0'">in one direction</div>
                    <div *ngIf="element[i]=='1'">in the opposite direction</div>
                </div>
              {{element[i]}} 
              <button mat-button *ngIf="i==0" matSuffix (click)="add_trip_input(element)"> 
                <mat-icon>create</mat-icon>
              </button>
          </mat-cell>
      </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </table> 
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
