<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>TOOLBAR</mat-card-title>
      <mat-card-subtitle>important</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        You must first edit fare_attributes.txt to define the fare_id that you could use in the fare_rules.txt
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="download()">DOWNLOAD</button>
    </mat-card-actions>
  </mat-card>