<mat-form-field>
    <mat-label>timezone</mat-label>
    <mat-select  [(ngModel)]="timezone" name="timezone" (selectionChange)="emitsele($event.value)">
    <mat-option value="US/Pacific">US/Pacific</mat-option>
    <mat-option value="US/Eastern">US/Eastern</mat-option>
    <mat-option value="Europe/London">Europe/London</mat-option>
    <mat-option value="Europe/Paris">Europe/Paris</mat-option>
    <mat-option value="Europe/Amsterdam">Europe/Amsterdam</mat-option>
    <mat-option value="Europe/Berlin">Europe/Berlin</mat-option>
    <mat-option value="Australia/Sydney">Australia/Sydney</mat-option>
    <mat-option value="">------------------------------</mat-option>
    <mat-option value="Africa/Abidjan">Africa/Abidjan</mat-option>
    <mat-option value="Africa/Accra">Africa/Accra</mat-option>
    <mat-option value="Africa/Addis_Ababa">Africa/Addis_Ababa</mat-option>
    <mat-option value="Africa/Algiers">Africa/Algiers</mat-option>
    <mat-option value="Africa/Asmara">Africa/Asmara</mat-option>
    <mat-option value="Africa/Bamako">Africa/Bamako</mat-option>
    <mat-option value="Africa/Bangui">Africa/Bangui</mat-option>
    <mat-option value="Africa/Banjul">Africa/Banjul</mat-option>
    <mat-option value="Africa/Bissau">Africa/Bissau</mat-option>
    <mat-option value="Africa/Blantyre">Africa/Blantyre</mat-option>
    <mat-option value="Africa/Brazzaville">Africa/Brazzaville</mat-option>
    <mat-option value="Africa/Bujumbura">Africa/Bujumbura</mat-option>
    <mat-option value="Africa/Cairo">Africa/Cairo</mat-option>
    <mat-option value="Africa/Casablanca">Africa/Casablanca</mat-option>
    <mat-option value="Africa/Ceuta">Africa/Ceuta</mat-option>
    <mat-option value="Africa/Conakry">Africa/Conakry</mat-option>
    <mat-option value="Africa/Dakar">Africa/Dakar</mat-option>
    <mat-option value="Africa/Dar_es_Salaam">Africa/Dar_es_Salaam</mat-option>
    <mat-option value="Africa/Djibouti">Africa/Djibouti</mat-option>
    <mat-option value="Africa/Douala">Africa/Douala</mat-option>
    <mat-option value="Africa/El_Aaiun">Africa/El_Aaiun</mat-option>
    <mat-option value="Africa/Freetown">Africa/Freetown</mat-option>
    <mat-option value="Africa/Gaborone">Africa/Gaborone</mat-option>
    <mat-option value="Africa/Harare">Africa/Harare</mat-option>
    <mat-option value="Africa/Johannesburg">Africa/Johannesburg</mat-option>
    <mat-option value="Africa/Juba">Africa/Juba</mat-option>
    <mat-option value="Africa/Kampala">Africa/Kampala</mat-option>
    <mat-option value="Africa/Khartoum">Africa/Khartoum</mat-option>
    <mat-option value="Africa/Kigali">Africa/Kigali</mat-option>
    <mat-option value="Africa/Kinshasa">Africa/Kinshasa</mat-option>
    <mat-option value="Africa/Lagos">Africa/Lagos</mat-option>
    <mat-option value="Africa/Libreville">Africa/Libreville</mat-option>
    <mat-option value="Africa/Lome">Africa/Lome</mat-option>
    <mat-option value="Africa/Luanda">Africa/Luanda</mat-option>
    <mat-option value="Africa/Lubumbashi">Africa/Lubumbashi</mat-option>
    <mat-option value="Africa/Lusaka">Africa/Lusaka</mat-option>
    <mat-option value="Africa/Malabo">Africa/Malabo</mat-option>
    <mat-option value="Africa/Maputo">Africa/Maputo</mat-option>
    <mat-option value="Africa/Maseru">Africa/Maseru</mat-option>
    <mat-option value="Africa/Mbabane">Africa/Mbabane</mat-option>
    <mat-option value="Africa/Mogadishu">Africa/Mogadishu</mat-option>
    <mat-option value="Africa/Monrovia">Africa/Monrovia</mat-option>
    <mat-option value="Africa/Nairobi">Africa/Nairobi</mat-option>
    <mat-option value="Africa/Ndjamena">Africa/Ndjamena</mat-option>
    <mat-option value="Africa/Niamey">Africa/Niamey</mat-option>
    <mat-option value="Africa/Nouakchott">Africa/Nouakchott</mat-option>
    <mat-option value="Africa/Ouagadougou">Africa/Ouagadougou</mat-option>
    <mat-option value="Africa/Porto-Novo">Africa/Porto-Novo</mat-option>
    <mat-option value="Africa/Sao_Tome">Africa/Sao_Tome</mat-option>
    <mat-option value="Africa/Tripoli">Africa/Tripoli</mat-option>
    <mat-option value="Africa/Tunis">Africa/Tunis</mat-option>
    <mat-option value="Africa/Windhoek">Africa/Windhoek</mat-option>
    <mat-option value="America/Adak">America/Adak</mat-option>
    <mat-option value="America/Anchorage">America/Anchorage</mat-option>
    <mat-option value="America/Anguilla">America/Anguilla</mat-option>
    <mat-option value="America/Antigua">America/Antigua</mat-option>
    <mat-option value="America/Araguaina">America/Araguaina</mat-option>
    <mat-option value="America/Argentina/Buenos_Aires">America/Argentina/Buenos_Aires</mat-option>
    <mat-option value="America/Argentina/Catamarca">America/Argentina/Catamarca</mat-option>
    <mat-option value="America/Argentina/Cordoba">America/Argentina/Cordoba</mat-option>
    <mat-option value="America/Argentina/Jujuy">America/Argentina/Jujuy</mat-option>
    <mat-option value="America/Argentina/La_Rioja">America/Argentina/La_Rioja</mat-option>
    <mat-option value="America/Argentina/Mendoza">America/Argentina/Mendoza</mat-option>
    <mat-option value="America/Argentina/Rio_Gallegos">America/Argentina/Rio_Gallegos</mat-option>
    <mat-option value="America/Argentina/Salta">America/Argentina/Salta</mat-option>
    <mat-option value="America/Argentina/San_Juan">America/Argentina/San_Juan</mat-option>
    <mat-option value="America/Argentina/San_Luis">America/Argentina/San_Luis</mat-option>
    <mat-option value="America/Argentina/Tucuman">America/Argentina/Tucuman</mat-option>
    <mat-option value="America/Argentina/Ushuaia">America/Argentina/Ushuaia</mat-option>
    <mat-option value="America/Aruba">America/Aruba</mat-option>
    <mat-option value="America/Asuncion">America/Asuncion</mat-option>
    <mat-option value="America/Atikokan">America/Atikokan</mat-option>
    <mat-option value="America/Bahia">America/Bahia</mat-option>
    <mat-option value="America/Bahia_Banderas">America/Bahia_Banderas</mat-option>
    <mat-option value="America/Barbados">America/Barbados</mat-option>
    <mat-option value="America/Belem">America/Belem</mat-option>
    <mat-option value="America/Belize">America/Belize</mat-option>
    <mat-option value="America/Blanc-Sablon">America/Blanc-Sablon</mat-option>
    <mat-option value="America/Boa_Vista">America/Boa_Vista</mat-option>
    <mat-option value="America/Bogota">America/Bogota</mat-option>
    <mat-option value="America/Boise">America/Boise</mat-option>
    <mat-option value="America/Cambridge_Bay">America/Cambridge_Bay</mat-option>
    <mat-option value="America/Campo_Grande">America/Campo_Grande</mat-option>
    <mat-option value="America/Cancun">America/Cancun</mat-option>
    <mat-option value="America/Caracas">America/Caracas</mat-option>
    <mat-option value="America/Cayenne">America/Cayenne</mat-option>
    <mat-option value="America/Cayman">America/Cayman</mat-option>
    <mat-option value="America/Chicago" selected="selected">America/Chicago</mat-option>
    <mat-option value="America/Chihuahua">America/Chihuahua</mat-option>
    <mat-option value="America/Costa_Rica">America/Costa_Rica</mat-option>
    <mat-option value="America/Creston">America/Creston</mat-option>
    <mat-option value="America/Cuiaba">America/Cuiaba</mat-option>
    <mat-option value="America/Curacao">America/Curacao</mat-option>
    <mat-option value="America/Danmarkshavn">America/Danmarkshavn</mat-option>
    <mat-option value="America/Dawson">America/Dawson</mat-option>
    <mat-option value="America/Dawson_Creek">America/Dawson_Creek</mat-option>
    <mat-option value="America/Denver">America/Denver</mat-option>
    <mat-option value="America/Detroit">America/Detroit</mat-option>
    <mat-option value="America/Dominica">America/Dominica</mat-option>
    <mat-option value="America/Edmonton">America/Edmonton</mat-option>
    <mat-option value="America/Eirunepe">America/Eirunepe</mat-option>
    <mat-option value="America/El_Salvador">America/El_Salvador</mat-option>
    <mat-option value="America/Fortaleza">America/Fortaleza</mat-option>
    <mat-option value="America/Glace_Bay">America/Glace_Bay</mat-option>
    <mat-option value="America/Godthab">America/Godthab</mat-option>
    <mat-option value="America/Goose_Bay">America/Goose_Bay</mat-option>
    <mat-option value="America/Grand_Turk">America/Grand_Turk</mat-option>
    <mat-option value="America/Grenada">America/Grenada</mat-option>
    <mat-option value="America/Guadeloupe">America/Guadeloupe</mat-option>
    <mat-option value="America/Guatemala">America/Guatemala</mat-option>
    <mat-option value="America/Guayaquil">America/Guayaquil</mat-option>
    <mat-option value="America/Guyana">America/Guyana</mat-option>
    <mat-option value="America/Halifax">America/Halifax</mat-option>
    <mat-option value="America/Havana">America/Havana</mat-option>
    <mat-option value="America/Hermosillo">America/Hermosillo</mat-option>
    <mat-option value="America/Indiana/Indianapolis">America/Indiana/Indianapolis</mat-option>
    <mat-option value="America/Indiana/Knox">America/Indiana/Knox</mat-option>
    <mat-option value="America/Indiana/Marengo">America/Indiana/Marengo</mat-option>
    <mat-option value="America/Indiana/Petersburg">America/Indiana/Petersburg</mat-option>
    <mat-option value="America/Indiana/Tell_City">America/Indiana/Tell_City</mat-option>
    <mat-option value="America/Indiana/Vevay">America/Indiana/Vevay</mat-option>
    <mat-option value="America/Indiana/Vincennes">America/Indiana/Vincennes</mat-option>
    <mat-option value="America/Indiana/Winamac">America/Indiana/Winamac</mat-option>
    <mat-option value="America/Inuvik">America/Inuvik</mat-option>
    <mat-option value="America/Iqaluit">America/Iqaluit</mat-option>
    <mat-option value="America/Jamaica">America/Jamaica</mat-option>
    <mat-option value="America/Juneau">America/Juneau</mat-option>
    <mat-option value="America/Kentucky/Louisville">America/Kentucky/Louisville</mat-option>
    <mat-option value="America/Kentucky/Monticello">America/Kentucky/Monticello</mat-option>
    <mat-option value="America/Kralendijk">America/Kralendijk</mat-option>
    <mat-option value="America/La_Paz">America/La_Paz</mat-option>
    <mat-option value="America/Lima">America/Lima</mat-option>
    <mat-option value="America/Los_Angeles">America/Los_Angeles</mat-option>
    <mat-option value="America/Lower_Princes">America/Lower_Princes</mat-option>
    <mat-option value="America/Maceio">America/Maceio</mat-option>
    <mat-option value="America/Managua">America/Managua</mat-option>
    <mat-option value="America/Manaus">America/Manaus</mat-option>
    <mat-option value="America/Marigot">America/Marigot</mat-option>
    <mat-option value="America/Martinique">America/Martinique</mat-option>
    <mat-option value="America/Matamoros">America/Matamoros</mat-option>
    <mat-option value="America/Mazatlan">America/Mazatlan</mat-option>
    <mat-option value="America/Menominee">America/Menominee</mat-option>
    <mat-option value="America/Merida">America/Merida</mat-option>
    <mat-option value="America/Metlakatla">America/Metlakatla</mat-option>
    <mat-option value="America/Mexico_City">America/Mexico_City</mat-option>
    <mat-option value="America/Miquelon">America/Miquelon</mat-option>
    <mat-option value="America/Moncton">America/Moncton</mat-option>
    <mat-option value="America/Monterrey">America/Monterrey</mat-option>
    <mat-option value="America/Montevideo">America/Montevideo</mat-option>
    <mat-option value="America/Montreal">America/Montreal</mat-option>
    <mat-option value="America/Montserrat">America/Montserrat</mat-option>
    <mat-option value="America/Nassau">America/Nassau</mat-option>
    <mat-option value="America/New_York">America/New_York</mat-option>
    <mat-option value="America/Nipigon">America/Nipigon</mat-option>
    <mat-option value="America/Nome">America/Nome</mat-option>
    <mat-option value="America/Noronha">America/Noronha</mat-option>
    <mat-option value="America/North_Dakota/Beulah">America/North_Dakota/Beulah</mat-option>
    <mat-option value="America/North_Dakota/Center">America/North_Dakota/Center</mat-option>
    <mat-option value="America/North_Dakota/New_Salem">America/North_Dakota/New_Salem</mat-option>
    <mat-option value="America/Ojinaga">America/Ojinaga</mat-option>
    <mat-option value="America/Panama">America/Panama</mat-option>
    <mat-option value="America/Pangnirtung">America/Pangnirtung</mat-option>
    <mat-option value="America/Paramaribo">America/Paramaribo</mat-option>
    <mat-option value="America/Phoenix">America/Phoenix</mat-option>
    <mat-option value="America/Port-au-Prince">America/Port-au-Prince</mat-option>
    <mat-option value="America/Port_of_Spain">America/Port_of_Spain</mat-option>
    <mat-option value="America/Porto_Velho">America/Porto_Velho</mat-option>
    <mat-option value="America/Puerto_Rico">America/Puerto_Rico</mat-option>
    <mat-option value="America/Rainy_River">America/Rainy_River</mat-option>
    <mat-option value="America/Rankin_Inlet">America/Rankin_Inlet</mat-option>
    <mat-option value="America/Recife">America/Recife</mat-option>
    <mat-option value="America/Regina">America/Regina</mat-option>
    <mat-option value="America/Resolute">America/Resolute</mat-option>
    <mat-option value="America/Rio_Branco">America/Rio_Branco</mat-option>
    <mat-option value="America/Santa_Isabel">America/Santa_Isabel</mat-option>
    <mat-option value="America/Santarem">America/Santarem</mat-option>
    <mat-option value="America/Santiago">America/Santiago</mat-option>
    <mat-option value="America/Santo_Domingo">America/Santo_Domingo</mat-option>
    <mat-option value="America/Sao_Paulo">America/Sao_Paulo</mat-option>
    <mat-option value="America/Scoresbysund">America/Scoresbysund</mat-option>
    <mat-option value="America/Shiprock">America/Shiprock</mat-option>
    <mat-option value="America/Sitka">America/Sitka</mat-option>
    <mat-option value="America/St_Barthelemy">America/St_Barthelemy</mat-option>
    <mat-option value="America/St_Johns">America/St_Johns</mat-option>
    <mat-option value="America/St_Kitts">America/St_Kitts</mat-option>
    <mat-option value="America/St_Lucia">America/St_Lucia</mat-option>
    <mat-option value="America/St_Thomas">America/St_Thomas</mat-option>
    <mat-option value="America/St_Vincent">America/St_Vincent</mat-option>
    <mat-option value="America/Swift_Current">America/Swift_Current</mat-option>
    <mat-option value="America/Tegucigalpa">America/Tegucigalpa</mat-option>
    <mat-option value="America/Thule">America/Thule</mat-option>
    <mat-option value="America/Thunder_Bay">America/Thunder_Bay</mat-option>
    <mat-option value="America/Tijuana">America/Tijuana</mat-option>
    <mat-option value="America/Toronto">America/Toronto</mat-option>
    <mat-option value="America/Tortola">America/Tortola</mat-option>
    <mat-option value="America/Vancouver">America/Vancouver</mat-option>
    <mat-option value="America/Whitehorse">America/Whitehorse</mat-option>
    <mat-option value="America/Winnipeg">America/Winnipeg</mat-option>
    <mat-option value="America/Yakutat">America/Yakutat</mat-option>
    <mat-option value="America/Yellowknife">America/Yellowknife</mat-option>
    <mat-option value="Antarctica/Casey">Antarctica/Casey</mat-option>
    <mat-option value="Antarctica/Davis">Antarctica/Davis</mat-option>
    <mat-option value="Antarctica/DumontDUrville">Antarctica/DumontDUrville</mat-option>
    <mat-option value="Antarctica/Macquarie">Antarctica/Macquarie</mat-option>
    <mat-option value="Antarctica/Mawson">Antarctica/Mawson</mat-option>
    <mat-option value="Antarctica/McMurdo">Antarctica/McMurdo</mat-option>
    <mat-option value="Antarctica/Palmer">Antarctica/Palmer</mat-option>
    <mat-option value="Antarctica/Rothera">Antarctica/Rothera</mat-option>
    <mat-option value="Antarctica/South_Pole">Antarctica/South_Pole</mat-option>
    <mat-option value="Antarctica/Syowa">Antarctica/Syowa</mat-option>
    <mat-option value="Antarctica/Vostok">Antarctica/Vostok</mat-option>
    <mat-option value="Arctic/Longyearbyen">Arctic/Longyearbyen</mat-option>
    <mat-option value="Asia/Aden">Asia/Aden</mat-option>
    <mat-option value="Asia/Almaty">Asia/Almaty</mat-option>
    <mat-option value="Asia/Amman">Asia/Amman</mat-option>
    <mat-option value="Asia/Anadyr">Asia/Anadyr</mat-option>
    <mat-option value="Asia/Aqtau">Asia/Aqtau</mat-option>
    <mat-option value="Asia/Aqtobe">Asia/Aqtobe</mat-option>
    <mat-option value="Asia/Ashgabat">Asia/Ashgabat</mat-option>
    <mat-option value="Asia/Baghdad">Asia/Baghdad</mat-option>
    <mat-option value="Asia/Bahrain">Asia/Bahrain</mat-option>
    <mat-option value="Asia/Baku">Asia/Baku</mat-option>
    <mat-option value="Asia/Bangkok">Asia/Bangkok</mat-option>
    <mat-option value="Asia/Beirut">Asia/Beirut</mat-option>
    <mat-option value="Asia/Bishkek">Asia/Bishkek</mat-option>
    <mat-option value="Asia/Brunei">Asia/Brunei</mat-option>
    <mat-option value="Asia/Choibalsan">Asia/Choibalsan</mat-option>
    <mat-option value="Asia/Chongqing">Asia/Chongqing</mat-option>
    <mat-option value="Asia/Colombo">Asia/Colombo</mat-option>
    <mat-option value="Asia/Damascus">Asia/Damascus</mat-option>
    <mat-option value="Asia/Dhaka">Asia/Dhaka</mat-option>
    <mat-option value="Asia/Dili">Asia/Dili</mat-option>
    <mat-option value="Asia/Dubai">Asia/Dubai</mat-option>
    <mat-option value="Asia/Dushanbe">Asia/Dushanbe</mat-option>
    <mat-option value="Asia/Gaza">Asia/Gaza</mat-option>
    <mat-option value="Asia/Harbin">Asia/Harbin</mat-option>
    <mat-option value="Asia/Hebron">Asia/Hebron</mat-option>
    <mat-option value="Asia/Ho_Chi_Minh">Asia/Ho_Chi_Minh</mat-option>
    <mat-option value="Asia/Hong_Kong">Asia/Hong_Kong</mat-option>
    <mat-option value="Asia/Hovd">Asia/Hovd</mat-option>
    <mat-option value="Asia/Irkutsk">Asia/Irkutsk</mat-option>
    <mat-option value="Asia/Jakarta">Asia/Jakarta</mat-option>
    <mat-option value="Asia/Jayapura">Asia/Jayapura</mat-option>
    <mat-option value="Asia/Jerusalem">Asia/Jerusalem</mat-option>
    <mat-option value="Asia/Kabul">Asia/Kabul</mat-option>
    <mat-option value="Asia/Kamchatka">Asia/Kamchatka</mat-option>
    <mat-option value="Asia/Karachi">Asia/Karachi</mat-option>
    <mat-option value="Asia/Kashgar">Asia/Kashgar</mat-option>
    <mat-option value="Asia/Kathmandu">Asia/Kathmandu</mat-option>
    <mat-option value="Asia/Kolkata">Asia/Kolkata</mat-option>
    <mat-option value="Asia/Krasnoyarsk">Asia/Krasnoyarsk</mat-option>
    <mat-option value="Asia/Kuala_Lumpur">Asia/Kuala_Lumpur</mat-option>
    <mat-option value="Asia/Kuching">Asia/Kuching</mat-option>
    <mat-option value="Asia/Kuwait">Asia/Kuwait</mat-option>
    <mat-option value="Asia/Macau">Asia/Macau</mat-option>
    <mat-option value="Asia/Magadan">Asia/Magadan</mat-option>
    <mat-option value="Asia/Makassar">Asia/Makassar</mat-option>
    <mat-option value="Asia/Manila">Asia/Manila</mat-option>
    <mat-option value="Asia/Muscat">Asia/Muscat</mat-option>
    <mat-option value="Asia/Nicosia">Asia/Nicosia</mat-option>
    <mat-option value="Asia/Novokuznetsk">Asia/Novokuznetsk</mat-option>
    <mat-option value="Asia/Novosibirsk">Asia/Novosibirsk</mat-option>
    <mat-option value="Asia/Omsk">Asia/Omsk</mat-option>
    <mat-option value="Asia/Oral">Asia/Oral</mat-option>
    <mat-option value="Asia/Phnom_Penh">Asia/Phnom_Penh</mat-option>
    <mat-option value="Asia/Pontianak">Asia/Pontianak</mat-option>
    <mat-option value="Asia/Pyongyang">Asia/Pyongyang</mat-option>
    <mat-option value="Asia/Qatar">Asia/Qatar</mat-option>
    <mat-option value="Asia/Qyzylorda">Asia/Qyzylorda</mat-option>
    <mat-option value="Asia/Rangoon">Asia/Rangoon</mat-option>
    <mat-option value="Asia/Riyadh">Asia/Riyadh</mat-option>
    <mat-option value="Asia/Sakhalin">Asia/Sakhalin</mat-option>
    <mat-option value="Asia/Samarkand">Asia/Samarkand</mat-option>
    <mat-option value="Asia/Seoul">Asia/Seoul</mat-option>
    <mat-option value="Asia/Shanghai">Asia/Shanghai</mat-option>
    <mat-option value="Asia/Singapore">Asia/Singapore</mat-option>
    <mat-option value="Asia/Taipei">Asia/Taipei</mat-option>
    <mat-option value="Asia/Tashkent">Asia/Tashkent</mat-option>
    <mat-option value="Asia/Tbilisi">Asia/Tbilisi</mat-option>
    <mat-option value="Asia/Tehran">Asia/Tehran</mat-option>
    <mat-option value="Asia/Thimphu">Asia/Thimphu</mat-option>
    <mat-option value="Asia/Tokyo">Asia/Tokyo</mat-option>
    <mat-option value="Asia/Ulaanbaatar">Asia/Ulaanbaatar</mat-option>
    <mat-option value="Asia/Urumqi">Asia/Urumqi</mat-option>
    <mat-option value="Asia/Vientiane">Asia/Vientiane</mat-option>
    <mat-option value="Asia/Vladivostok">Asia/Vladivostok</mat-option>
    <mat-option value="Asia/Yakutsk">Asia/Yakutsk</mat-option>
    <mat-option value="Asia/Yekaterinburg">Asia/Yekaterinburg</mat-option>
    <mat-option value="Asia/Yerevan">Asia/Yerevan</mat-option>
    <mat-option value="Atlantic/Azores">Atlantic/Azores</mat-option>
    <mat-option value="Atlantic/Bermuda">Atlantic/Bermuda</mat-option>
    <mat-option value="Atlantic/Canary">Atlantic/Canary</mat-option>
    <mat-option value="Atlantic/Cape_Verde">Atlantic/Cape_Verde</mat-option>
    <mat-option value="Atlantic/Faroe">Atlantic/Faroe</mat-option>
    <mat-option value="Atlantic/Madeira">Atlantic/Madeira</mat-option>
    <mat-option value="Atlantic/Reykjavik">Atlantic/Reykjavik</mat-option>
    <mat-option value="Atlantic/South_Georgia">Atlantic/South_Georgia</mat-option>
    <mat-option value="Atlantic/St_Helena">Atlantic/St_Helena</mat-option>
    <mat-option value="Atlantic/Stanley">Atlantic/Stanley</mat-option>
    <mat-option value="Australia/Adelaide">Australia/Adelaide</mat-option>
    <mat-option value="Australia/Brisbane">Australia/Brisbane</mat-option>
    <mat-option value="Australia/Broken_Hill">Australia/Broken_Hill</mat-option>
    <mat-option value="Australia/Currie">Australia/Currie</mat-option>
    <mat-option value="Australia/Darwin">Australia/Darwin</mat-option>
    <mat-option value="Australia/Eucla">Australia/Eucla</mat-option>
    <mat-option value="Australia/Hobart">Australia/Hobart</mat-option>
    <mat-option value="Australia/Lindeman">Australia/Lindeman</mat-option>
    <mat-option value="Australia/Lord_Howe">Australia/Lord_Howe</mat-option>
    <mat-option value="Australia/Melbourne">Australia/Melbourne</mat-option>
    <mat-option value="Australia/Perth">Australia/Perth</mat-option>
    <mat-option value="Australia/Sydney">Australia/Sydney</mat-option>
    <mat-option value="Canada/Atlantic">Canada/Atlantic</mat-option>
    <mat-option value="Canada/Central">Canada/Central</mat-option>
    <mat-option value="Canada/Eastern">Canada/Eastern</mat-option>
    <mat-option value="Canada/Mountain">Canada/Mountain</mat-option>
    <mat-option value="Canada/Newfoundland">Canada/Newfoundland</mat-option>
    <mat-option value="Canada/Pacific">Canada/Pacific</mat-option>
    <mat-option value="Europe/Amsterdam">Europe/Amsterdam</mat-option>
    <mat-option value="Europe/Andorra">Europe/Andorra</mat-option>
    <mat-option value="Europe/Athens">Europe/Athens</mat-option>
    <mat-option value="Europe/Belgrade">Europe/Belgrade</mat-option>
    <mat-option value="Europe/Berlin">Europe/Berlin</mat-option>
    <mat-option value="Europe/Bratislava">Europe/Bratislava</mat-option>
    <mat-option value="Europe/Brussels">Europe/Brussels</mat-option>
    <mat-option value="Europe/Bucharest">Europe/Bucharest</mat-option>
    <mat-option value="Europe/Budapest">Europe/Budapest</mat-option>
    <mat-option value="Europe/Chisinau">Europe/Chisinau</mat-option>
    <mat-option value="Europe/Copenhagen">Europe/Copenhagen</mat-option>
    <mat-option value="Europe/Dublin">Europe/Dublin</mat-option>
    <mat-option value="Europe/Gibraltar">Europe/Gibraltar</mat-option>
    <mat-option value="Europe/Guernsey">Europe/Guernsey</mat-option>
    <mat-option value="Europe/Helsinki">Europe/Helsinki</mat-option>
    <mat-option value="Europe/Isle_of_Man">Europe/Isle_of_Man</mat-option>
    <mat-option value="Europe/Istanbul">Europe/Istanbul</mat-option>
    <mat-option value="Europe/Jersey">Europe/Jersey</mat-option>
    <mat-option value="Europe/Kaliningrad">Europe/Kaliningrad</mat-option>
    <mat-option value="Europe/Kiev">Europe/Kiev</mat-option>
    <mat-option value="Europe/Lisbon">Europe/Lisbon</mat-option>
    <mat-option value="Europe/Ljubljana">Europe/Ljubljana</mat-option>
    <mat-option value="Europe/London">Europe/London</mat-option>
    <mat-option value="Europe/Luxembourg">Europe/Luxembourg</mat-option>
    <mat-option value="Europe/Madrid">Europe/Madrid</mat-option>
    <mat-option value="Europe/Malta">Europe/Malta</mat-option>
    <mat-option value="Europe/Mariehamn">Europe/Mariehamn</mat-option>
    <mat-option value="Europe/Minsk">Europe/Minsk</mat-option>
    <mat-option value="Europe/Monaco">Europe/Monaco</mat-option>
    <mat-option value="Europe/Moscow">Europe/Moscow</mat-option>
    <mat-option value="Europe/Oslo">Europe/Oslo</mat-option>
    <mat-option value="Europe/Paris">Europe/Paris</mat-option>
    <mat-option value="Europe/Podgorica">Europe/Podgorica</mat-option>
    <mat-option value="Europe/Prague">Europe/Prague</mat-option>
    <mat-option value="Europe/Riga">Europe/Riga</mat-option>
    <mat-option value="Europe/Rome">Europe/Rome</mat-option>
    <mat-option value="Europe/Samara">Europe/Samara</mat-option>
    <mat-option value="Europe/San_Marino">Europe/San_Marino</mat-option>
    <mat-option value="Europe/Sarajevo">Europe/Sarajevo</mat-option>
    <mat-option value="Europe/Simferopol">Europe/Simferopol</mat-option>
    <mat-option value="Europe/Skopje">Europe/Skopje</mat-option>
    <mat-option value="Europe/Sofia">Europe/Sofia</mat-option>
    <mat-option value="Europe/Stockholm">Europe/Stockholm</mat-option>
    <mat-option value="Europe/Tallinn">Europe/Tallinn</mat-option>
    <mat-option value="Europe/Tirane">Europe/Tirane</mat-option>
    <mat-option value="Europe/Uzhgorod">Europe/Uzhgorod</mat-option>
    <mat-option value="Europe/Vaduz">Europe/Vaduz</mat-option>
    <mat-option value="Europe/Vatican">Europe/Vatican</mat-option>
    <mat-option value="Europe/Vienna">Europe/Vienna</mat-option>
    <mat-option value="Europe/Vilnius">Europe/Vilnius</mat-option>
    <mat-option value="Europe/Volgograd">Europe/Volgograd</mat-option>
    <mat-option value="Europe/Warsaw">Europe/Warsaw</mat-option>
    <mat-option value="Europe/Zagreb">Europe/Zagreb</mat-option>
    <mat-option value="Europe/Zaporozhye">Europe/Zaporozhye</mat-option>
    <mat-option value="Europe/Zurich">Europe/Zurich</mat-option>
    <mat-option value="GMT">GMT</mat-option>
    <mat-option value="Indian/Antananarivo">Indian/Antananarivo</mat-option>
    <mat-option value="Indian/Chagos">Indian/Chagos</mat-option>
    <mat-option value="Indian/Christmas">Indian/Christmas</mat-option>
    <mat-option value="Indian/Cocos">Indian/Cocos</mat-option>
    <mat-option value="Indian/Comoro">Indian/Comoro</mat-option>
    <mat-option value="Indian/Kerguelen">Indian/Kerguelen</mat-option>
    <mat-option value="Indian/Mahe">Indian/Mahe</mat-option>
    <mat-option value="Indian/Maldives">Indian/Maldives</mat-option>
    <mat-option value="Indian/Mauritius">Indian/Mauritius</mat-option>
    <mat-option value="Indian/Mayotte">Indian/Mayotte</mat-option>
    <mat-option value="Indian/Reunion">Indian/Reunion</mat-option>
    <mat-option value="Pacific/Apia">Pacific/Apia</mat-option>
    <mat-option value="Pacific/Auckland">Pacific/Auckland</mat-option>
    <mat-option value="Pacific/Chatham">Pacific/Chatham</mat-option>
    <mat-option value="Pacific/Chuuk">Pacific/Chuuk</mat-option>
    <mat-option value="Pacific/Easter">Pacific/Easter</mat-option>
    <mat-option value="Pacific/Efate">Pacific/Efate</mat-option>
    <mat-option value="Pacific/Enderbury">Pacific/Enderbury</mat-option>
    <mat-option value="Pacific/Fakaofo">Pacific/Fakaofo</mat-option>
    <mat-option value="Pacific/Fiji">Pacific/Fiji</mat-option>
    <mat-option value="Pacific/Funafuti">Pacific/Funafuti</mat-option>
    <mat-option value="Pacific/Galapagos">Pacific/Galapagos</mat-option>
    <mat-option value="Pacific/Gambier">Pacific/Gambier</mat-option>
    <mat-option value="Pacific/Guadalcanal">Pacific/Guadalcanal</mat-option>
    <mat-option value="Pacific/Guam">Pacific/Guam</mat-option>
    <mat-option value="Pacific/Honolulu">Pacific/Honolulu</mat-option>
    <mat-option value="Pacific/Johnston">Pacific/Johnston</mat-option>
    <mat-option value="Pacific/Kiritimati">Pacific/Kiritimati</mat-option>
    <mat-option value="Pacific/Kosrae">Pacific/Kosrae</mat-option>
    <mat-option value="Pacific/Kwajalein">Pacific/Kwajalein</mat-option>
    <mat-option value="Pacific/Majuro">Pacific/Majuro</mat-option>
    <mat-option value="Pacific/Marquesas">Pacific/Marquesas</mat-option>
    <mat-option value="Pacific/Midway">Pacific/Midway</mat-option>
    <mat-option value="Pacific/Nauru">Pacific/Nauru</mat-option>
    <mat-option value="Pacific/Niue">Pacific/Niue</mat-option>
    <mat-option value="Pacific/Norfolk">Pacific/Norfolk</mat-option>
    <mat-option value="Pacific/Noumea">Pacific/Noumea</mat-option>
    <mat-option value="Pacific/Pago_Pago">Pacific/Pago_Pago</mat-option>
    <mat-option value="Pacific/Palau">Pacific/Palau</mat-option>
    <mat-option value="Pacific/Pitcairn">Pacific/Pitcairn</mat-option>
    <mat-option value="Pacific/Pohnpei">Pacific/Pohnpei</mat-option>
    <mat-option value="Pacific/Port_Moresby">Pacific/Port_Moresby</mat-option>
    <mat-option value="Pacific/Rarotonga">Pacific/Rarotonga</mat-option>
    <mat-option value="Pacific/Saipan">Pacific/Saipan</mat-option>
    <mat-option value="Pacific/Tahiti">Pacific/Tahiti</mat-option>
    <mat-option value="Pacific/Tarawa">Pacific/Tarawa</mat-option>
    <mat-option value="Pacific/Tongatapu">Pacific/Tongatapu</mat-option>
    <mat-option value="Pacific/Wake">Pacific/Wake</mat-option>
    <mat-option value="Pacific/Wallis">Pacific/Wallis</mat-option>
    <mat-option value="US/Alaska">US/Alaska</mat-option>
    <mat-option value="US/Arizona">US/Arizona</mat-option>
    <mat-option value="US/Central">US/Central</mat-option>
    <mat-option value="US/Eastern">US/Eastern</mat-option>
    <mat-option value="US/Hawaii">US/Hawaii</mat-option>
    <mat-option value="US/Mountain">US/Mountain</mat-option>
    <mat-option value="US/Pacific">US/Pacific</mat-option>
    <mat-option value="UTC">UTC</mat-option>
    </mat-select>
</mat-form-field>
