
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
      <div *ngFor="let pos of displayedColumns;let i= index">
      <ng-container [matColumnDef]= "pos">
        <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
               
              {{element[i]}}
              
          </mat-cell>
      </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </table> 
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>
<mat-toolbar>
  <mat-toolbar-row >
    <mat-form-field class="id">
      <mat-label>Service_id</mat-label>
      <input matInput type="text" [(ngModel)]="value" name="value" [disabled]="addmode " >
    
      <button mat-button *ngIf="value" matSuffix  aria-label="edit" [disabled]="addmode " (click)="edit()">
        <mat-icon>create</mat-icon>
      </button>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
        <mat-select-trigger>
          {{nameget.value ? nameget.value[0] : ''}}
          <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
            (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="route_id_req">
    <mat-form-field class="input" >
      <mat-label>route_id</mat-label>
      <input matInput type="text" [(ngModel)]="route_id" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="origin_id_req">
    <mat-form-field class="input" >
      <mat-label>origin_id</mat-label>
      <input matInput type="text" [(ngModel)]="origin_id" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="destination_id_req">
    <mat-form-field class="input" >
      <mat-label>destination_id</mat-label>
      <input matInput type="text" [(ngModel)]="destination_id" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="contains_id_req">
    <mat-form-field class="input" >
      <mat-label>contains_id</mat-label>
      <input matInput type="text" [(ngModel)]="contains_id" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>
    
   <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="onSave()" [disabled]="!addmode ">
      Save 
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                     
    <button mat-raised-button  (click)=" onDelete()" [disabled]="!addmode || !deletemode">
      Delete
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                     
    <button mat-raised-button  (click)=" onReset()" [disabled]="!addmode ">
      Reset
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
  