<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>CSV Editor</mat-card-title>
    <mat-card-subtitle>edit some Files with simple but special CSV editor</mat-card-subtitle>
    <div mat-card-avatar ><mat-icon> insert_chart_outlined</mat-icon></div>
  </mat-card-header>
</mat-card>

<mat-tab-group class="mattabg">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_balance</mat-icon>
        Agency
      </ng-template>
      <app-agencytable></app-agencytable>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">translate</mat-icon>
        Translations
      </ng-template>
  
      <app-translation></app-translation>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">contact_support</mat-icon>
        Feed_info
      </ng-template>
  
      <app-feedinfo></app-feedinfo>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">grade</mat-icon>
        Shapes
      </ng-template>
      <app-shapetable></app-shapetable>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">settings</mat-icon>
        Attributions
      </ng-template>
  
      <app-attributions></app-attributions>
    </mat-tab>
  

 </mat-tab-group>

