<mat-tab-group class="mattabg">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">account_balance</mat-icon>
        Agency
      </ng-template>
      <app-agencytable></app-agencytable>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">event_note</mat-icon>
        Calendar
      </ng-template>
  
      <app-calendar></app-calendar>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">contact_support</mat-icon>
        Feed_info
      </ng-template>
  
      <app-feedinfo></app-feedinfo>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">location_on</mat-icon>
        Stops
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">swap_calls</mat-icon>
        Routes
      </ng-template>
  
      Content 3
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">directions</mat-icon>
          Trips
        </ng-template>
        <app-table></app-table>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">departure_board</mat-icon>
          Stop_times
        </ng-template>
        Content 2
      </mat-tab>
    
      

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">shop</mat-icon>
          Fare_Attributes
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">shop_two</mat-icon>
          Fare_Rules
        </ng-template>
    
        Content 3
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">grade</mat-icon>
          Shapes
        </ng-template>
        <app-table></app-table>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">transfer_within_a_station</mat-icon>
          Pathways
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">show_chart</mat-icon>
          Frequencies
        </ng-template>
    
        Content 3
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
          Transfers
        </ng-template>
        <app-table></app-table>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">supervisor_account</mat-icon>
          Levels
        </ng-template>
        Content 2
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">translate</mat-icon>
          Translations
        </ng-template>
    
        Content 3
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">settings</mat-icon>
          Attributions
        </ng-template>
    
        Content 3
      </mat-tab>

      
  </mat-tab-group>

