table {
    width: 100%;
  }

.mat-calendar
{
  float:right;
  margin-left:calc(1vw);
  width:calc(35vw);
}
.myoptionclass {
    float:left;
    position:relative;
    left:35px;
    top:25px;
    max-width:calc(30vw);
    font-size: medium;
}