<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-list role="list">
        <div mat-subheader>
        <mat-icon aria-hidden="false" >dashboard</mat-icon>
         &nbsp;
         Start
        </div>
        <mat-list-item role="listitem">
          <a [routerLink]="['/']">
            <button mat-raised-button color="basic" >
              <mat-icon aria-hidden="false" >home</mat-icon>
              Home
            </button>
          </a>
        </mat-list-item>
        
       <mat-divider></mat-divider>
        <div mat-subheader>
              <mat-icon aria-hidden="false" >assignment</mat-icon>
              &nbsp;
               Editor
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <a [routerLink]="['/CSVEditor']">
              <button mat-raised-button color="basic" >
                <mat-icon aria-hidden="false" >assessment</mat-icon>
                CSV-Editor
              </button>
            </a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a [routerLink]="['/FareEditor']">
              <button mat-raised-button color="basic" >
                <mat-icon aria-hidden="false" >credit_card</mat-icon>
                Fare-Editor
              </button>
            </a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <a [routerLink]="['/StopEditor']">
              <button mat-raised-button color="basic" >
                <mat-icon aria-hidden="false" >edit_location</mat-icon>
                Stop-Editor
              </button>
            </a>
          </mat-list-item>

          <mat-list-item role="listitem">
            <a [routerLink]="['/TimetableEditor']">
              <button mat-raised-button color="basic" >
                <mat-icon aria-hidden="false" >departure_board</mat-icon>
                Timetable-Editor
              </button>
            </a>
          </mat-list-item>
        </mat-list>
        
         <mat-divider></mat-divider>
         <div mat-subheader>
          <mat-icon aria-hidden="false" >cloud</mat-icon>
           &nbsp;
           File
          </div>
          <mat-list-item role="listitem">
            <a [routerLink]="['/DragDrop']">
              <button mat-raised-button color="basic" >
                <mat-icon aria-hidden="false" >backup</mat-icon>
                File-Upload
              </button>
            </a>
         </mat-list-item>
         <mat-list-item role="listitem">
          <button mat-raised-button (click)="download()">
          <mat-icon aria-hidden="false" >cloud_download</mat-icon>
            Download
         </button>
        </mat-list-item>
        <mat-divider></mat-divider>
         <p></p>
          <mat-list-item role="listitem">
            <button mat-raised-button color="primary" (click)="close('toggle button')">
            <mat-icon aria-hidden="false" >exit_to_app</mat-icon>
              Close
           </button>
        </mat-list-item>
    </mat-list>
    
  </mat-sidenav>

  <mat-sidenav-content>
    
    <button mat-icon-button aria-hidden="false" aria-label="Example home icon" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>
   
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


