<div>
    <table mat-table [dataSource]="dataTable" >
      <div *ngFor="let pos of displayedColumns;let i= index">
      <ng-container [matColumnDef]= "pos">
        <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <div *ngIf="pos=='start_time' || pos=='end_time'">
                    <input matInput type="text"  [(ngModel)]="element[i]" pattern="^[0-9]?[0-9][:]([0-5]?[0-9]|60)[:]([0-5]?[0-9]|60)$" #uname="ngModel">
                    <mat-error *ngIf="uname.errors?.pattern"> 
                        Time not valid.
                    </mat-error> 
                </div>
                <div *ngIf="pos=='headway_secs'" >
                    <input matInput type="number" min="0" [(ngModel)]="element[i]" >
                </div>
                <div *ngIf="pos=='trip_id'" >
                    {{element[i]}}
                    <button mat-raised-button color="primary" (click)="deleteline(element)">Delete</button>
                </div>
                <div *ngIf="pos=='exact_times'">
                    <mat-form-field>
                    <mat-select [(value)]="element[i]">
                        <mat-option value="0">Frequency-based trips</mat-option>
                        <mat-option value="1">Schedule-based trips</mat-option>
                    </mat-select> 
                    </mat-form-field>
                </div>
           </mat-cell>
      </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row> 
    </table> 
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
   
</div>
