.mat-elevation-z8 {
    width: calc(100vw);
}
table{
    width:100%;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.mat-form-field{
    float:left;
    margin-left: 30px;
}

.options{
    clear:both;
}
