.mat-elevation-z8 {
    width: calc(85vw);
}
table{
    width:100%;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.example-form-field {
    position:relative;
    left:35px;
    top:25px;
   
    font-size: medium;
}