<mat-vertical-stepper linear #stepper class="mat-elevation-z8" >
    <ng-template matStepperIcon="number">
      <mat-icon>explore</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <mat-icon>edit_location</mat-icon>
    </ng-template>
  <mat-step [completed]="editable" [editable]="true">
    <ng-template matStepLabel >Trip id:{{value}}</ng-template>
    
    <div>
      <table mat-table [dataSource]="dataTable" >
        <div *ngFor="let pos of displayedColumns;let i= index">
        <ng-container [matColumnDef]= "pos">
          <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                {{element[i]}} 
                <button mat-button *ngIf="i==0" matSuffix (click)="add_trip_input(element[i])" [disabled]="editable"> 
                  <mat-icon>create</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
      </table> 
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     
  </div>


      <mat-form-field class="example-form-field">
          <mat-label>Trip_id</mat-label>
          <input matInput type="text" [(ngModel)]="value" name="value"  [disabled]="editable">
          <button mat-button *ngIf="value"  matSuffix  matStepperNext   [disabled]="editable" (click)="edittrip()">
            <mat-icon>create</mat-icon>
          </button>
          
      </mat-form-field>
    <mat-form-field >
      <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
        <mat-select-trigger>
          {{nameget.value ? nameget.value[0] : ''}}
          <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
            (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="options"> </div>
    <div *ngIf="editable">
      <div *ngFor="let attrs of dataSource[0];let i=index">
        <div *ngIf='attrs=="trip_headsign" || attrs=="trip_short_name" || attrs=="block_id" || attrs=="shape_id"'>
          <mat-form-field >
              <mat-label>{{attrs}}</mat-label>
              <input matInput type="text" [(ngModel)]="dataSource[current][i]" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div *ngIf='attrs=="direction_id"'>
          <mat-form-field>
            <mat-label>{{attrs}}</mat-label>
            <mat-select [(ngModel)]="dataSource[current][i]" name="available">
              <mat-option value="0">in one direction</mat-option>
              <mat-option value="1">in opposite direction</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf='attrs=="wheelchair_accessible" || attrs=="bikes_allowed"'>
          <mat-form-field>
            <mat-label>{{attrs}}</mat-label>
            <mat-select [(ngModel)]="dataSource[current][i]" name="available">
              <mat-option value="0">No information</mat-option>
              <mat-option value="1">Can Be</mat-option>
              <mat-option value="2">Not Allowed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [completed]="value_rou!='' " [editable]="true">
    <ng-template matStepLabel>Route id:{{value_rou}} </ng-template>
    <app-route (notify)="onrou_Notify($event)"></app-route>
  </mat-step>
  <mat-step [completed]="value_cal!='' " [editable]="true">
    <ng-template matStepLabel>Service id:{{value_cal}} </ng-template>
    <app-calendar (notify)="oncal_Notify($event)"></app-calendar>
  </mat-step>
 <mat-step [editable]="true">
    <ng-template matStepLabel> Stop_times </ng-template>
    <app-stop-times></app-stop-times>
  </mat-step>
  
  <mat-step [editable]="true">
    <ng-template matStepLabel> Frequency </ng-template>
    <app-freq></app-freq>
  </mat-step>

  
  <mat-step [editable]="true">
    <ng-template matStepLabel>Save or Cancel </ng-template>
    <div>
      <button mat-raised-button color="warn" (click)="onSave(stepper)">
        Save 
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  
      <button mat-raised-button color="primary" (click)="onDelete(stepper)">
        Delete 
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                    
      <button mat-raised-button  (click)=" onReset(stepper)" >
        Reset
      </button>                   
    </div>
  </mat-step>
</mat-vertical-stepper>


