<h2> &nbsp;&nbsp;&nbsp; GTFS Files:</h2>
<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
    <input hidden type="file" accept="application/zip" #fileInput (change)="uploadFile($event.target.files)" />
</div>
<div  *ngFor="let file of files;let i= index">
    <div  class="files-list">
      <p> {{ file }} </p>
      <button mat-fab color="primary" class="delete-file" (click)="deleteAttachment(i)">
        <mat-icon>delete</mat-icon>
    </button>
    </div>
    <div  class="detail-list" *ngFor="let detail of details[i]">
      <p> {{detail}}</p>
    </div>
</div>

<h2> &nbsp;&nbsp;&nbsp; GTFS REALTIME:</h2>
<div class="uploadfilecontainer" (click)="fileInput1.click()" appDragDrop (onFileDropped)="uploadrealtimeFile($event)">
  <input hidden type="file" accept=".pb" #fileInput1 (change)="uploadrealtimeFile($event.target.files)" />
</div>
<div  class="detail-list" *ngIf="num">
  <p> {{num}} Trip-Updates are uploaded</p>
</div>

<h2> &nbsp;&nbsp;&nbsp;Downloads:</h2>
  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
  <button mat-raised-button (click)="download()">
  <mat-icon aria-hidden="false" >cloud_download</mat-icon>
    GTFS-Download
 </button>
  &nbsp;&nbsp;&nbsp;&nbsp; 
  <button mat-raised-button (click)="timedownload()">
  <mat-icon aria-hidden="false" >attachment</mat-icon>
    RealTime-Download
 </button>

 <br><br><br><br>





