<mat-form-field class="example-form-field">
    <mat-label>router_id</mat-label>
    <input matInput type="text" [(ngModel)]="routerid" readonly>
     <button mat-button [matMenuTriggerFor]="menu" matSuffix mat-icon-button> <mat-icon>swap_calls</mat-icon> </button>
</mat-form-field>
   
    <mat-menu #menu="matMenu">
        <div  (click)="$event.stopPropagation()" class="mat-elevation-z8">
            <table mat-table [dataSource]="dataTable" >
              <div *ngFor="let pos of dataSource[0];let i= index">
              <ng-container [matColumnDef]= "pos">
                <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="setroute(element[dataSource[0].indexOf('route_id')])"  > 
                       {{element[i]}}
                     
                  </mat-cell>
              </ng-container>
              </div>
        
              <mat-header-row *matHeaderRowDef="dataSource[0]"></mat-header-row>
              <mat-row *matRowDef="let row; columns: dataSource[0];"></mat-row> 
            </table> 
            
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
             <mat-toolbar>
        
        </mat-toolbar>
        </div>
       
   
    </mat-menu>
