
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
      <div *ngFor="let pos of displayedColumns;let i= index">
      <ng-container [matColumnDef]= "pos">
        <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
               <div *ngIf="pos=='pathway_mode'">
                <div *ngIf="element[i]=='1'">walkway</div>
                <div *ngIf="element[i]=='2'">stairs</div>
                <div *ngIf="element[i]=='3'">moving sidewalk</div>
                <div *ngIf="element[i]=='4'">escalator</div>
                <div *ngIf="element[i]=='5'">elevator</div>
                <div *ngIf="element[i]=='6'">fare gate</div>
                <div *ngIf="element[i]=='7'">exit gate</div>
              </div>
              <div *ngIf="pos=='is_bidirectional'">
                <div *ngIf="element[i]=='0'">Unidirectional</div>
                <div *ngIf="element[i]=='1'">Bidirectional</div>
              </div>
              <div *ngIf="pos=='pathway_id'">
                {{element[i]}}
                <button mat-button matSuffix color="primary"  aria-label="edit" [disabled]="addmode" (click)="add_route_input(element[i])">
                  <mat-icon>create</mat-icon>
                </button>
              </div>
              <div *ngIf="pos=='from_stop_id' || pos=='to_stop_id'">
                <app-stop-picker [Detailmode]="true" [stopnow]="element[i]" [disabled]="true"> </app-stop-picker>
              </div>
              
          </mat-cell>
      </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </table> 
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>
<p></p>
<br />
<div>
  <mat-form-field class="example-form-field">
      <mat-label>Pathway_id</mat-label>
      <input matInput type="text" [(ngModel)]="value_rou" name="value_rou" [disabled]="addmode" [ngModelOptions]="{standalone: true}">
      <button mat-button *ngIf="value_rou" matSuffix  aria-label="edit" [disabled]="addmode" (click)="edit()">
        <mat-icon>create</mat-icon>
      </button>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
      <mat-select-trigger>
        {{nameget.value ? nameget.value[0] : ''}}
        <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
          (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="options"></div>


 
  <div  *ngIf="addmode" >
    <div class="left_grid">
      
      <div *ngFor="let item of dataSource[0];let i=index" >
        <div *ngIf="item=='length' || item=='max_slope' || item=='min_width'  || item=='signposted_as' || item=='reversed_signposted_as'">
          <mat-form-field class="example-form-field">
            <mat-label>{{item}}</mat-label>
            <input matInput type="text" [(ngModel)]="dataSource[current][i]" [ngModelOptions]="{standalone: true}"> 
          </mat-form-field>
        </div>
          <mat-form-field *ngIf="item=='pathway_mode'">
            <mat-label>route_type</mat-label>
              <mat-select [(value)]="dataSource[current][i]">
                <mat-option value="1">walkway</mat-option>
                <mat-option value="2">stairs</mat-option>
                <mat-option value="3">moving sidewalk/travelator</mat-option>
                <mat-option value="4">escalator</mat-option>
                <mat-option value="5">elevator</mat-option>
                <mat-option value="6">fare gate (or payment gate)</mat-option>
                <mat-option value="7">exit gate</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="item=='stair_count'" >
            <mat-label>{{item}}</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="dataSource[current][i]" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field *ngIf="item=='is_bidirectional'">
            <mat-label>{{item}}</mat-label>
              <mat-select [(value)]="dataSource[current][i]">
               
                <mat-option value="0">Unidirectional pathway</mat-option>
                <mat-option value="1">Bidirectional pathway</mat-option>
              </mat-select>
          </mat-form-field>
          <div  *ngIf="item=='from_stop_id' || item=='to_stop_id'">
             <app-stop-picker class="stop_picker" [label]="item" [Detailmode]="true" [stopnow]="dataSource[current][i]" [disabled]="false" (notify)="changestop(i,$event)"> </app-stop-picker>
             <div class="options"></div>
          </div>

      </div>
    </div>
    
  </div>

<div class="options">
  &nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="onSave()" [disabled]="!addmode">
      Save 
    </button>
  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                     
  <button mat-raised-button color="primary"  (click)=" onDelete()" [disabled]="!addmode">
    Delete
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                     
  <button mat-raised-button  (click)=" onReset()" [disabled]="!addmode">
    Reset
  </button>
</div>
  <p></p>
  
<br><br>
