<app-toolbar></app-toolbar>
<mat-tab-group class="mattabg" mat-align-tabs="end" (selectedTabChange)="ngOnInit()">
  <mat-tab label="Attributes" >
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
      <div *ngFor="let pos of displayedColumns;let i= index">
      <ng-container [matColumnDef]= "pos">
        <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
               
              {{element[i]}}
              
          </mat-cell>
      </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </table> 
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
</div>
<mat-toolbar>
  <mat-toolbar-row>
    <mat-form-field class="id">
      <mat-label>Service_id</mat-label>
      <input matInput type="text" [(ngModel)]="value" name="value" [disabled]="addmode " >
    
      <button mat-button *ngIf="value" matSuffix  aria-label="edit" [disabled]="addmode " (click)="edit()">
        <mat-icon>create</mat-icon>
      </button>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
        <mat-select-trigger>
          {{nameget.value ? nameget.value[0] : ''}}
          <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
            (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field class="input">
      <mat-label>price</mat-label>
      <input matInput type="text" [(ngModel)]="price" [disabled]="!addmode ">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp; 
    <mat-form-field class="input">
      <mat-label>currency_type</mat-label>
      <input matInput type="text" [(ngModel)]="currency_type" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>
  <mat-toolbar-row class="input">
    payment_method
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-radio-group aria-label="Select an option" [disabled]="!addmode " color="warn"> 
      <mat-radio-button value="0">Be paid on board</mat-radio-button>
      <mat-radio-button value="1">Be paid before boarding</mat-radio-button>
    </mat-radio-group>
   
  </mat-toolbar-row>

  <mat-toolbar-row class="input">
    transfers
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-radio-group  [disabled]="!addmode || !transfer_req " [(ngModel)]="transfer" color="primary"> 
      <mat-radio-button value="0">No transfers permitted</mat-radio-button>
      <mat-radio-button value="1">Once</mat-radio-button>
      <mat-radio-button value="2">Twice</mat-radio-button>
      <mat-radio-button value="3">Unlimited transfers are permitted</mat-radio-button>
    </mat-radio-group>
   
  </mat-toolbar-row>
  
  <mat-toolbar-row *ngIf="agencyid_req">
    <mat-form-field class="input">
      <mat-label>agency_id</mat-label>
      <input matInput type="text" [(ngModel)]="agencyid" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="transfer_duration_req">
    <mat-form-field class="input">
      <mat-label>transfer_duration</mat-label>
      <input matInput type="text" [(ngModel)]="transfer_duration" [disabled]="!addmode ">
    </mat-form-field>
  </mat-toolbar-row>

   <mat-toolbar-row>
   
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="onSave()" >
      Save 
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;                     
    <button mat-raised-button  (click)=" onReset()" >
      Reset
    </button>
  </mat-toolbar-row>
  </mat-toolbar>
  </mat-tab>
<mat-tab label="Rules" >
  
</mat-tab>

</mat-tab-group>
