.mattabg{
    width: 100%;
  }

table {
    width: 100%;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

#map 
{ 
    width:calc(48vw); 
    height:65%;
    
    float:right;
    margin-left:calc(1vw);
    margin-right:0%;
}


.myoptionclass {
    position:relative;
    float:left;
    top:25px;
    width:calc(44vw);
    font-size: medium;
}

.mat-select{
  width:calc(15vw);
}

input:invalid {
  background-color:tomato;
}

.options{
  clear:both;
}

.mat-form-field{
  float:left;
  margin-left: 30px;
}

app-time-zone-select{
  float:left;
  margin-left: 30px;
}

app-level-picker{
  float:left;
  margin-left: 30px;
}
