.mattabg{
    width: 100%;
  }

table {
    width: 100%;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

#map 
{ 
    width:55%; 
    height:65%;
    
    float:right;
    margin-left:calc(1vw);
    margin-right:0%;
}


.myoptionclass {
    float:left;
    margin-left:18px;
    top:25px;
    max-width:calc(40vw);
    font-size: medium;
}