.mattabg{
    width: calc(85vw);
  }

table {
    width: 100%;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

#map 
{ 
    width:55%; 
    height:65%;
    
    float:right;
    margin-left:calc(1vw);
    margin-right:calc(15vw);
}


.myoptionclass {
    float:left;
    position:relative;
    left:35px;
    top:25px;
    max-width:calc(30vw);
    font-size: medium;
}