<app-toolbar></app-toolbar>

  <div class="mattabg">
      <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
        <div *ngFor="let pos of displayedColumns;let i= index">
        <ng-container [matColumnDef]= "pos">
          <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
              
                {{element[i]}} 
              
            </mat-cell>
        </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
        
      </table> 
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
  <mat-toolbar class="mattabg">
    
    <mat-form-field>
      <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
        <mat-select-trigger>
          {{nameget.value ? nameget.value[0] : ''}}
          <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
            (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-checkbox [(ngModel)]="addmode" name="addmode" [disabled]="editmode ">Addmode</mat-checkbox>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="onSave()" [disabled]="!editmode ">
      Save 
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onDelete()" [disabled]="!editmode ">
      Delete 
    </button>
  </mat-toolbar>
  <p></p>
  <form class="myoptionclass" >
    
    <p>
    <mat-form-field class="example-form-field">
        <mat-label>stop_id</mat-label>
        <input matInput type="text" [(ngModel)]="value" name="value" readonly>
      
        <button mat-button *ngIf="value" matSuffix  aria-label="edit" (click)="edit()">
          <mat-icon>create</mat-icon>
        </button>
        
    </mat-form-field>
    </p>
    <div *ngIf="editmode">
      <div *ngFor="let attrs of displayedColumns;let i=index">
        <div *ngIf='attrs=="stop_lat" || attrs=="stop_lon"'>
          <mat-form-field >
              <mat-label>{{attrs}}</mat-label>
              <input matInput type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" readonly>
            
          </mat-form-field>
        </div>
        <div *ngIf='attrs!="stop_id" && attrs!="stop_lat" && attrs!="stop_lon"'>
          <mat-form-field >
              <mat-label>{{attrs}}</mat-label>
              <input matInput type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}">
            
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>  
      


    
    
    <div id='map' ></div>
   
  


