<app-toolbar-stop></app-toolbar-stop>
    <div class="mattabg">
        <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">
          <div *ngFor="let pos of displayedColumns;let i= index">
          <ng-container [matColumnDef]= "pos">
            <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  <div *ngIf="pos=='location_type'">
                    <div *ngIf="element[i]=='0'">Stop (or Platform)<mat-icon>commute</mat-icon></div>
                    <div *ngIf="element[i]=='1'">Station<mat-icon> subway</mat-icon></div>
                    <div *ngIf="element[i]=='2'">Entrance/Exit<mat-icon>exit_to_app</mat-icon></div>
                    <div *ngIf="element[i]=='3'">Generic Node<mat-icon>airline_seat_recline_normal</mat-icon></div>
                    <div *ngIf="element[i]=='4'">Boarding Area<mat-icon> rowing</mat-icon></div>
                  </div>
                  <div *ngIf="pos=='stop_id'" style="display:inline;">
                    
                    <div *ngIf="element[3]!=''" style="display:inline;">
                      <div *ngIf="element[2]=='4'" style="display:inline;">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 
                      </div>
                      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 
                    </div>
                  </div>

                  <div *ngIf="pos!='location_type'">
                    {{element[i]}} 
                  </div>
                  <button mat-button *ngIf="pos=='stop_id'" matSuffix color="primary"  aria-label="edit" [disabled]="editmode" (click)="add_stop_input(element[i])">
                    <mat-icon>create</mat-icon>
                  </button>
              </mat-cell>
          </ng-container>
          </div>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
          
        </table> 
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
    <mat-toolbar class="mattabg">
      
      
        <mat-select [formControl]="nameget" (selectionChange)="changecol()" multiple>
          <mat-select-trigger>
            {{nameget.value ? nameget.value[0] : ''}}
            <span *ngIf="nameget.value?.length > 1" class="example-additional-selection">
              (+{{nameget.value.length - 1}} {{nameget.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let name of names" [value]="name" [disabled]="name=='parent_station' || name=='location_type' || name=='platform_code'  " >
            {{name}}
          </mat-option>
        </mat-select>
     
      &nbsp;&nbsp;&nbsp;
      
      <mat-select [(ngModel)]="addtype" [disabled]="editmode">
        <mat-option *ngFor="let x of currenttype" [value]="x" >
          <div *ngIf="x=='0'">Stop (or Platform)</div>
          <div *ngIf="x=='1'">Station</div>
          <div *ngIf="x=='2'">Entrance/Exit</div>
          <div *ngIf="x=='3'">Generic Node</div>
          <div *ngIf="x=='4'">Boarding Area</div>
        </mat-option>
      </mat-select>
      &nbsp;&nbsp;&nbsp;
      <mat-checkbox [(ngModel)]="addmode" name="addmode" [disabled]="editmode ">Addmode</mat-checkbox>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="onSave()" [disabled]="!editmode ">
        Save 
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="onDelete()" [disabled]="!editmode ">
        Delete 
      </button>
    </mat-toolbar>
    <p></p>
<div id='map' ></div> 
<div class="myoptionclass">    
      <mat-form-field class="example-form-field">
          <mat-label>stop_id</mat-label>
          <input matInput type="text" [(ngModel)]="value" name="value" [disabled]="editmode" >
        
          <button mat-button *ngIf="value" matSuffix  aria-label="edit" (click)="edit()" [disabled]="editmode" >
            <mat-icon>edit_location</mat-icon>
          </button>
          <button mat-button *ngIf="value" matSuffix  [disabled]="editmode" (click)="editchild()">
            <mat-icon>zoom_in</mat-icon>
          </button>
          <button mat-button matSuffix [disabled]="editmode || !this.currentparent" (click)="editparent()">
            <mat-icon>zoom_out</mat-icon>
          </button>
          
      </mat-form-field>
      <div class="options"> </div>
      <div *ngIf="editmode">
        <div *ngFor="let attrs of dataSource[0];let i=index">
          <div *ngIf='attrs=="stop_lat" || attrs=="stop_lon"'>
            <mat-form-field>
              <mat-label>{{attrs}}</mat-label>
              <input matInput *ngIf="currentvalue[dataSource[0].indexOf('location_type')]!='3' && currentvalue[dataSource[0].indexOf('location_type')]!='4'" type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" required readonly>
              <input matInput *ngIf="currentvalue[dataSource[0].indexOf('location_type')]=='3' || currentvalue[dataSource[0].indexOf('location_type')]=='4'" type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="parent_station"' >
            <mat-form-field >
                <mat-label>{{attrs}}</mat-label>
                <input matInput type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" readonly>
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="location_type"' >
            <mat-form-field >
                <mat-label>{{attrs}}</mat-label>
                <mat-select [(ngModel)]="currentvalue[i]" [disabled]="true">
                  <mat-option *ngFor="let x of currenttype" [value]="x" >
                    <div *ngIf="x=='0'">Stop (or Platform)</div>
                    <div *ngIf="x=='1'">Station</div>
                    <div *ngIf="x=='2'">Entrance/Exit</div>
                    <div *ngIf="x=='3'">Generic Node</div>
                    <div *ngIf="x=='4'">Boarding Area</div>
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="stop_name"'>
            <mat-form-field>
              <mat-label>{{attrs}}</mat-label>
              <input matInput *ngIf="currentvalue[dataSource[0].indexOf('location_type')]!='3' && currentvalue[dataSource[0].indexOf('location_type')]!='4'" type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" required>
              <input matInput *ngIf="currentvalue[dataSource[0].indexOf('location_type')]=='3' || currentvalue[dataSource[0].indexOf('location_type')]=='4'" type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="stop_code" ||attrs=="stop_desc" || attrs=="zone_id" || attrs=="platform_code"'>
            <mat-form-field >
                <mat-label>{{attrs}}</mat-label>
                <input matInput type="text" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="stop_url"'>
            <mat-form-field >
                <mat-label>{{attrs}}</mat-label>
                <input matInput type="url" [(ngModel)]="currentvalue[i]" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="wheelchair_boarding"'>
            <mat-form-field>
              <mat-label>{{attrs}}</mat-label>
              <mat-select [(ngModel)]="currentvalue[i]" name="available">
                <mat-option value="0">No information </mat-option>
                <mat-option value="1">Some vehicles can</mat-option>
                <mat-option value="2">Not possible</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf='attrs=="stop_timezone"'>
            <app-time-zone-select  (notify)="changetimezone($event)" [tznow]="currentvalue[i]"></app-time-zone-select>
          </div>
          <div *ngIf='attrs=="level_id"'>
            <app-level-picker  (notify)="changelevel($event)" [levelnow]="currentvalue[i]"></app-level-picker>
          </div>
        </div>
      </div>
</div>




   
  


