.example-card {
  width: 100%;
}

table {
  width: 100%;
}

.mat-calendar-body-cell.selected
{
  background-color:lightblue;
  border-radius: 0%
}

.mat-calendar-body-cell.exp1
{
  background-color:lightgreen;
  border-radius: 0%
}

.mat-calendar-body-cell.exp2
{
  background-color:red;
  border-radius: 0%
}


.mat-calendar
{
  float:left;
  margin-left:calc(8px);
  width:calc(14vw);
}

.calendars .mat-calendar-header{
  opacity: 0;
  pointer-events: none;
}

.myoptionclass {
    position:relative;
    float:left;
    top:10px;
    font-size: medium;
}
    

.myoptionclass .example-form-field{
    font-size: large;
}

.myoptionclass .date-select .mat-form-field+.mat-form-field {
  margin-left:(1vw);
  font-size: medium;
}

.myoptionclass .example-section{
  
  align-content: left;
  align-items: center;
  height: 50px;
}

.myoptionclass .example-section .example-margin {
  margin: 0 10px;
  font-size: medium;
}

.options{
  clear:both;
}
  
