.mattabg{
  width: calc(85vw);
}

table {
  width: 100%;
}
.mat-calendar-body-cell.selected
{
  background-color:purple;
  border-radius: 50%
}


.mat-calendar
{
  float:right;
  margin-left:calc(1vw);
  width:calc(35vw);
}

.myoptionclass {
    float:left;
    position:relative;
    left:35px;
    top:25px;
    max-width:calc(30vw);
    font-size: medium;
}
    

.myoptionclass .example-form-field{
    font-size: large;
}

.myoptionclass .date-select .mat-form-field+.mat-form-field {
  margin-left:(1vw);
  font-size: medium;
}

.myoptionclass .example-section{
  
  align-content: left;
  align-items: center;
  height: 50px;
}

.myoptionclass .example-section .example-margin {
  margin: 0 10px;
  font-size: medium;
}
  
