<app-tb-for-calen></app-tb-for-calen>

    <div >
      <table mat-table [dataSource]="dataTable" >
        <div *ngFor="let pos of displayedColumns;let i= index">
        <ng-container [matColumnDef]= "pos">
          <mat-header-cell *matHeaderCellDef> {{pos}} </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
              
                {{element[i]}} 
                <button mat-button *ngIf="pos=='service_id'" matSuffix  [disabled]="addmode " (click)="add_service_input(element[i])">
                  <mat-icon>create</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        </div>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
        
      </table> 
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
  
  <form class="myoptionclass" >
  
    <p>
    <mat-form-field class="example-form-field">
        <mat-label>Service_id</mat-label>
        <input matInput type="text" [(ngModel)]="value_cal" name="value_cal" [disabled]="addmode " >
      
        <button mat-button *ngIf="value_cal" matSuffix  aria-label="edit" [disabled]="addmode " (click)="edit()">
          <mat-icon>create</mat-icon>
        </button>
        
    </mat-form-field>
    
    </p>
      <p>
        <div class="date-select">
          <mat-form-field>
            <mat-label>start_date</mat-label>
            <input #begininput matInput [matDatepicker]="picker1" (dateChange)="addBegin( $event)" [disabled]="!addmode " readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 readwrite></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>end_date</mat-label>
            <input #endinput matInput [matDatepicker]="picker2" (dateChange)="addEnd( $event)" [disabled]="!addmode " readonly>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 readwrite></mat-datepicker>
          </mat-form-field>
          &nbsp;&nbsp;
         
            <mat-checkbox class="example-margin" *ngFor="let day of days;let i=index" [(ngModel)]="dayth[i]" name="day" [disabled]="!addmode " color="primary">
              {{day}}  &nbsp;
           </mat-checkbox>
           <div class="options"></div>
          <button mat-raised-button color="primary" (click)="change()" [disabled]="(!addmode) || (tempbegin==null) || (tempend==null) || (tempbegin>tempend)">
             Change Date On The calendar
          </button>
        </div>    
    </form>
 
    
    <div class="options"></div>
    <div *ngFor="let in of counter(6) ;let i = index">
      <mat-calendar #calendar class="calendars" (selectedChange)="select($event)" [dateClass]="isSelected"  [startAt]="startdat[i]"></mat-calendar>
    </div>
    <div class="options"></div>
    <div *ngFor="let in of counter(6) ;let i = index">
      <mat-calendar #calendar class="calendars" (selectedChange)="select($event)" [dateClass]="isSelected"  [startAt]="startdat[i+6]"></mat-calendar>
    </div>
    <div class="options"></div>
    <div style="text-align: center;"> 
      <button mat-icon-button  color="primary" (click)="lastmonth()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      {{ currentyear}}
      <button mat-icon-button  color="primary" (click)="nextmonth()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="options"></div>
    <br>
    <button mat-raised-button color="accent" (click)="onSave(begininput,endinput)" [disabled]="!addmode ">
      Save 
   </button>
   &nbsp;&nbsp;&nbsp;&nbsp;                    
   <button mat-raised-button color="warn" (click)=" onDelete(begininput,endinput)" [disabled]="(!addmode || this.current==this.calendarData.length) ">
       Delete
    </button>
   &nbsp;&nbsp;&nbsp;&nbsp;                    
   <button mat-raised-button  (click)=" onReset(begininput,endinput)" [disabled]="!addmode ">
       Reset
    </button>
  <br><br><br><br>


