<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="titleA" [colspan]="2" [rowspan]="1">
             <h1> GTFS  EDITOR 
              </h1>
    </mat-grid-tile>

    <mat-grid-tile class="gridlist" >
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image1"></div>
              <mat-card-title>Instruction</mat-card-title>
              <mat-card-subtitle> for users </mat-card-subtitle>
            </mat-card-header>
               <mat-card-content>
              <p>
                GTFS Editor is a powerful webbased Editor, 
                which provides you many efficient tools to adjust the gtfs files which is already exist, 
                as well as create your own GTFS files. 
              </p>
              <p>
              The General Transit Feed Specification (GTFS) defines 
              a common format for public transportation schedules and associated geographic information. 
              You can find the detailed reference here: 
              <a href='https://developers.google.com/transit/gtfs/reference'> Google GTFS Format
              </a>
              </p>
              <p>
                Press download button to get an example for the GTFS Feed.
              </p>
            </mat-card-content>
             
            
            <mat-card-actions>
              
              <a [routerLink]="['/DragDrop']">
                <button mat-button>UPLOAD</button>
              </a>
              <a [routerLink]="['/Editor']">
                <button mat-button>EDIT</button>
              </a>
                
              <a href="https://developers.google.com/transit/gtfs/examples/sample-feed.zip">
              <button mat-button >
                DOWNLOAD</button>
              </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  class="gridlist" >
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Join us</mat-card-title>
              <mat-card-subtitle> for developers</mat-card-subtitle>
            </mat-card-header>
               <mat-card-content>
              <p>
                Timetable Project(for GTFS Editor) is an opensource project, which was founded at the Technical University of Darmstadt. 
                The Project is coded unter Typescript+Angular. Please join us to contribute your contribution to the open-source softwares. 
                We believe "Community over Code".
              </p>
            </mat-card-content>
            
            
            <mat-card-actions>
              
              <a href="https://github.com/windsound3482/timetable">
                <button mat-button>VIEW</button>
              </a>
              
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>